.bulma-arrow-mixin {
    @include arrow(purple);
}

.my-element {
    background: red;
  
    @include from(1280px) {
        background: blue;
    }
}

.table {
    color:'black';
    &.is-scrollable {
      tbody {
        padding: '10';
        max-height: '500';
        height: '500';
        
        overflow-y: 'scroll';
        width: 'auto';
        position: 'absolute';
      }
    }
  }