


@charset "utf-8";

$navbar-height:5rem;
$navbar-item-img-max-height:3rem;
$dropdown-menu-min-width:20.25rem;
$dropdown-content-padding-top:0rem;
$navbar-padding-vertical:20rem;

@import "../node_modules/bulma/bulma.sass";
@import "./bulma-mixins.scss";
@import "./chart.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

